.product-card {
  overflow: hidden;
}

.product-card .activator {
  cursor: pointer;
}

.product-card .card-content {
  padding: 15px;
}

.product-card .card-content,
.content-row {
  margin-bottom: 0px;
}

.product-card .old-price {
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 5px;
}

.product-card .new-price {
  font-weight: 500;
}

.product-card .card-action .row {
  margin: 0px;
}

.product-card .card-action .material-icons {
  color: #9e9e9e;
  transition: all .35s;
}

.material-icons {
  color: #555;
}
.active_prod_icon{
   color: #ff9800 !important;
}
.product-card .card-action .material-icons:hover {
   cursor: pointer;
  color: #333;
}

.material-icons:hover {
  color: #333;
}

.quick_view_button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
}

.quick_view_button .quick_button {
  width: 100%;
}

.quick_button .quick_button_btn {
  opacity: 0;
}

.discount-tag-div {
  position: absolute;
  width: 100%;
  top: 0;
}

.discount-badge {
  padding: 7px;
  width: 100%;
  background-image: url("assetes/img/small/sell-img-4.png ");
  background-repeat: no-repeat;
  background-position: -25% 0%;
  background-size: auto;
}

.new-badge {
  padding: 7px;
  width: 100%;
  background-image: url("assetes/img/small/new-img-4.png ");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: cover;
}

.new-badge h6 {
  padding-right: 20px;
  margin: 0px;
}

.discount-badge h6 {
  padding-right: 7px;
  margin: 0px;
}

.quick_product_model .old-price {
  margin-right: 10px;
  text-decoration: line-through;
}

.quick_product_model .img-card {
  // border-radius: 4px;
  overflow: hidden;
}

.quick_product_model .table-default td {
  padding: 0px;
  color: #757575;
  font-size: 13px;
}
.quick_product_model{
  border:2px solid #B0314F;
}
.quick_product_model .dialog-progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
